<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bell's Ticket System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/font.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="navbar navbar-fixed-top navbar-default" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(TicketSystem.Resources.NavbarText.Bell, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(TicketSystem.Resources.NavbarText.Nav1, "Create", "Home")</li>
                    <li>@Html.ActionLink(TicketSystem.Resources.NavbarText.Nav2, "Search", "Home")</li>
                    <li>@Html.ActionLink(TicketSystem.Resources.NavbarText.Nav3, "SearchGroupByProject", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown navbar-right">
                        @if (System.Threading.Thread.CurrentThread.CurrentCulture.ToString() != "en")
                        {
                            @Html.ActionLink(TicketSystem.Resources.NavbarText.Language1, "ChangeLanguage", "Home", new { LanguageAbbrevation = "en" }, null)
                        }
                        else
                        {
                            @Html.ActionLink(TicketSystem.Resources.NavbarText.Language2, "ChangeLanguage", "Home", new { LanguageAbbrevation = "fr" }, null);
                        }

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Patrick Kan</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/gridmvc.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
