@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron mainTitle">
    <h1>@TicketSystem.Resources.IndexText.Title</h1>
    <p class="lead">@TicketSystem.Resources.IndexText.Description</p>
    <p class="btn btn-default">@Html.ActionLink(TicketSystem.Resources.IndexText.Button1, "Create", "Home")</p>
    <p class="btn btn-default">@Html.ActionLink(TicketSystem.Resources.IndexText.Button2, "Search", "Home")</p>
</div>


<div class="row" id="r1">
    <div class="col-md-1"></div>
    <div class="col-md-3 mainPanel well well-lg">
        <h2>@TicketSystem.Resources.IndexText.Heading1</h2>
        <p>@TicketSystem.Resources.IndexText.Paragraph1</p>
        <p class="btn btn-default">@Html.ActionLink(TicketSystem.Resources.IndexText.Button3, "Create", "Home")</p>
    </div>

    <div class="col-md-7 sidePanel well well-lg"></div>
    <div class="col-md-1"></div>
</div>

<div class="row" id="r2">
    <div class="col-md-1"></div>
    <div class="col-md-7 sidePanel well well-lg"></div>

    <div class="col-md-3 mainPanel well well-lg">
        <h2>@TicketSystem.Resources.IndexText.Heading2</h2>
        <p>@TicketSystem.Resources.IndexText.Paragraph2</p>
        <p class="btn btn-default">@Html.ActionLink(TicketSystem.Resources.IndexText.Button3, "Search", "Home")</p>
    </div>

    <div class="col-md-1"></div>
</div>

<div class="row" id="r3">
    <div class="col-md-1"></div>
    <div class="col-md-3 mainPanel well well-lg">
        <h2>@TicketSystem.Resources.IndexText.Heading3</h2>
        <p>@TicketSystem.Resources.IndexText.Paragraph3</p>
        <p class="btn btn-default">@Html.ActionLink(TicketSystem.Resources.IndexText.Button3, "SearchGroupByProject", "Home")</p>
    </div>

    <div class="col-md-7 sidePanel well well-lg"></div>
    <div class="col-md-1"></div>
</div>


    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
